.content-header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-block: 2rem;
}

.content-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
  row-gap: 0.5rem;

  width: 100%;
  

  & > *:nth-child(2) {
    flex: 1 0 max-content;
  }

  @media screen and (max-width: 45em) {
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
  }
}

.header-title {
  font-size: 1.7rem;
  max-width: 25rem;
  max-height: 7rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines you want */
  overflow: hidden;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.header-date-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-display-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  svg {
    fill: var(--color-primary-1);
    width: 2rem;
  }
}

#date-display {
  font-size: 1.5rem;
}

#date-select {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}


#date-decrease, #date-increase {
  font-size: 2rem;
  font-weight: 300;
  background-color: transparent;
  border: none;
}

#date-select {
  background-color: transparent;
  border: none;
}

#add-list {
  border: 2px solid var(--color-primary-1);
  border-radius: 99rem;
  padding-block: 0.9rem;
  width: 9rem;
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--color-primary-1);

  &:hover {
    background-color: var(--color-primary-1);
    color: white;
  }
}
