.content {
  display: flex;
  flex-direction: column;
  grid-template-rows: max-content 1fr;
  align-items: center;
  min-height: 100vh;
  padding-inline: 3rem;

  & > *:nth-child(1) {
    flex-basis: 9.55rem;
  }
  
  & > *:nth-child(2) {
    flex:1;
  }

  & > * {
    width: 100%;
    max-width: 85rem;
  }

  @media screen and (max-width: 60em) {
    padding-inline: 1.5rem;
  }
}