.content-body {
  padding-block: 2rem;
}

.content-project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 19rem);
  gap: 2rem;

  @media screen and (max-width: 88.9375em) {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
}

.content-project-list__header {
  display: flex;
}

.content-project-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 2rem;
  padding: 1.5rem;
}

.content-project-list__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.title-container {
  display: flex;
  gap: 1rem;
}

.content-project-list-item__title {
  display: inline-block;  /* shrink to fit content */
}

.btn-project-list-edit {
  flex-shrink: 0;
  width: 1.85rem;
  height: 1.85rem;
  background-color: transparent;
  border: none;

  &:hover {
    animation: wiggle 0.5s ease-in-out;
  }
}

.btn-delete-list {
  border: none;
  width: 1.85rem;
  height: 1.85rem;
  background-color: transparent;

  &:hover {
    animation: wiggle 0.5s ease-in-out;
  }
}

/* Todo */

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-add-todo {
  border-width: 2px;
  border-style: dashed;
  border-radius: 1rem;
  height: 7rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;

  &:hover {
    border-width: 3px;
  }
}

.todo-item {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  cursor: context-menu;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  &:hover .todo-item__title {
    text-decoration: underline;
  }
}

.todo-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block-end: 0.5rem;
}

.btn-todo-close {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  
  svg {
    fill: rgb(206, 0, 0);
  }

  &:hover {
    animation: wiggle 0.5s ease-in-out;
  }
}

.todo-item__priority {
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  text-transform: capitalize;

  &[data-priority="high"] {
    color: var(--priority-high-text);
    background-color: var(--priority-high-bg);
  }

  &[data-priority="medium"] {
    color: var(--priority-medium-text);
    background-color: var(--priority-medium-bg);
  }

  &[data-priority="low"] {
    color: var(--priority-low-text);
    background-color: var(--priority-low-bg);
  }
}

.todo-item__footer {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1.5rem;
}

.todo-item__deadline {
  color: var(--color-text-light)
}

.todo-item__status {
  font-weight: 500;
  text-transform: capitalize;
}

.todo-item[data-status="ongoing"] {
  background-color: var(--ongoing-bg);

  .todo-item__title {
    color: var(--ongoing-header);
  }

  .todo-item__status {
    color: var(--ongoing-text);
  }
}

.todo-item[data-status="completed"] {
  background-color: var(--completed-bg);

  .todo-item__title {
    color: var(--completed-header);
  }

  .todo-item__status {
    color: var(--completed-text);
  }
}

.todo-item[data-status="overdue"] {
  background-color: var(--overdue-bg);

  .todo-item__title {
    color: var(--overdue-header);
  }

  .todo-item__status {
    color: var(--overdue-text);
  }
}

.todo-item[data-status="deadline"] {
  background-color: var(--deadline-bg);

  .todo-item__title {
    color: var(--deadline-header);
  }

  .todo-item__status {
    color: var(--deadline-text);
  }
}

.todo-item[data-status="cancelled"] {
  background-color: var(--cancelled-bg);

  .todo-item__title {
    color: var(--cancelled-header);
  }

  .todo-item__title, .todo-item__deadline, .todo-item__priority {
    text-decoration: line-through;
  }

  .todo-item__status {
    color: var(--cancelled-text);
  }
}

@keyframes wiggle {
  35% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}