#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  max-width: 30rem;
  min-width: 15rem;

  border-radius: 2rem;
  padding: 2rem;

  background-color: white;
  font-size: 1.3rem;
}

.modal-header__container {
  display: flex;
  justify-content: space-between;
  margin-block-end: 1rem;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 2rem;
  
  & svg {
    fill: rgb(206, 0, 0);
  }

  &:hover svg {
    fill: rgb(172, 1, 1);
  }
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input, select, textarea {
    border: 1px solid var(--color-primary-1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: transparent;

    &:focus {
      border: 1px solid var(--color-primary-1-hover);
    }
  }

  select {
    padding: 0.5rem 0.8rem;
  }

  label {
    color: var(--color-text-light);
    font-size: 1.25rem;
  }
}

.form-input.select {
  text-transform: capitalize;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.submit {
  margin-top: 1rem;

  border:none;
  border-radius: 0.5rem;
  padding-block: 0.7rem;

  background-color: var(--color-primary-1);
  color: white;

  &:hover {
    background-color: var(--color-primary-1-hover);
  }
}

.form-input__error {
  display: none;
}