.sidebar, .sidebar-projects, .project-list {
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  max-width: 21rem;
  
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.1);
}

.sidebar-header {
  flex: 0 0 9rem;
  display: flex;
  align-items: center;

  border-bottom: 1px solid rgb(228, 228, 228);
  padding-inline: 3rem;
}

.sidebar-header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;

  h1 {
    font-size: 1.9rem;
    font-weight: 700;
    background: linear-gradient(90deg, var(--color-primary-1), var(--color-primary-2));
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  svg {
    width: 4rem;
    fill: var(--color-primary-1);
  }
}

.sidebar-projects, .project-list {
  gap: 1rem;
}

.project-list {
  overflow: auto;
}

.sidebar-projects {
  flex: 1 1;

  max-height: 70vh;
  padding: 3rem 2rem;
  
  font-size: 1.1rem;
  font-weight: 300;

  .btn-project {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    position: relative;
    
    border: none;
    border-radius: 99rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    width: 100%;
    
    color: var(--color-text-main);
    background-color: transparent;
    text-align: left;
    opacity: 0.6;

    background-color: transparent;

    & > *:nth-child(1), & > *:nth-child(3) {
      flex-shrink: 0;
    }

    & > *:nth-child(2) {
      flex-grow: 1;
      max-width: 7rem;
      overflow: hidden;
    }
  }

  #btn-add-project {
    border-radius: 99rem;

    &:hover {
      background-color: var(--btn-sub-hover-bg);
    }
  }

  svg {
    width: 2rem;
  }

  .high {
    .project-item-button, span {
      color: var(--priority-high-text);
    }

    svg {
      fill: var(--priority-high-icon);
    }

    &:is(:hover,.active) {
      background-color: var(--priority-high-bg);
    }
  }

  .medium {
    .project-item-button, span {
      color: var(--priority-medium-text);
    }

    svg {
      fill: var(--priority-medium-icon);
    }

    &:is(:hover,.active) {
      background-color: var(--priority-medium-bg);
    }
  }

  .low {
    .project-item-button, span {
      color: var(--priority-low-text);
    }

    svg {
      fill: var(--priority-low-icon);
    }

    &:is(:hover,.active) {
      background-color: var(--priority-low-bg);
    }
  }
}

.project-item {
  position: relative;
  border-radius: 2rem;
  min-width: 16rem;
  overflow: hidden;
}

.display-option {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.options-overlay {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);

  &.active {
    display: flex;
  }
}

.btn-project-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;

  & > * {
    transition: transform 0.2s ease-in-out;
  }

  & > *:nth-child(2) {
    position: absolute;
    display: none;
  }

  &:hover > *:nth-child(1) {
    transform: translateY(-0.5rem);
  }

  &:hover > *:nth-child(2) {
    display: block;
    transform: translateY(0.95rem);
  }
}

.sidebar-user {
  flex: 0 0 9rem;
  display: flex;
  align-items: center;
  
  border-top: 1px solid rgb(228, 228, 228);
  padding-inline: 3rem;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.user-img-container {
  border-radius: 100%;
  max-width: 4rem;
  overflow: hidden;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 60em) {
  .sidebar {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    height: unset;
    max-width: unset;
    padding-block: 1rem;
    padding-inline: 1.5rem;

    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  }

  .sidebar-header {
    flex: unset;
    padding-inline: unset;
    border-bottom: unset;
  }

  .sidebar-header-container {
    gap: 0.5rem;
    width: unset;

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
    }

    svg {
      width: 2rem;
    }
  }

  .sidebar-projects {
    gap: 0.5rem;
    max-height: 17vh;
    max-width: 17rem;
    padding: unset;
    
    font-size: 1.1rem;

    .btn-project {
      column-gap: 1rem;
    }

    svg {
      width: 2rem;
    }
  }

  .project-list {
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    overflow: auto;
  }

  .sidebar-user {
    flex: unset;
    justify-content: center;
    border-top: unset;
    padding-inline: 0rem;
  }

  .user-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .user-img-container {
    max-width: 4rem;
  }

  .user-name {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 26.25em) {
  .user-name {
    display: none;
  }
}